{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Calculate Distance {% endblock title %}


{% block content %}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Distance to <strong>{{ destination }}</strong> from <strong>{{ location }}</strong> is: </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ distance }} km
      </div>
    </div>
  </div>
</div>

<div style="padding-top: 20px;">
  {{ map|safe }}
</div>


<hr>

<form style="padding-bottom: 120px;" action="" method="post" autocomplete="off">
  {% csrf_token %}
  {{form|crispy}}
  <button type="submit" name="confirm" class="btn btn-primary">Confirm</button>
</form>

<div style="position: fixed; left: 0; bottom: 0; width: 100%; text-align: center; padding-bottom: 15px;">
  This product includes GeoLite2 data created by MaxMind, available from
  <a href="https://www.maxmind.com">https://www.maxmind.com</a>.
</div>


{% if request.POST and distance is not None%}
  <script type="text/javascript">
    $(window).on('load', function() {
      $('#exampleModal').modal('show')
    })
  </script>
{% endif %}

{% endblock content %}
